body { margin: 0; font-family: 'Roboto', sans-serif; font-size: 14px; color: #242424; -webkit-font-smoothing: antialiased; }

*, *:before, *:after { box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 { margin: 0; }

p { margin: 0 0 10px; }

.container { width: 100%; max-width: 1020px; margin: 0 auto; }

.header { width: 100%; height: 767px; }

.one { height: 60px; width: 54px; }
